<!DOCTYPE html>
<html>
  <head>
    <title>Visualyze</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="http://res.cloudinary.com/virginia-chen/image/upload/v1500584158/logo_iwnrx6.ico" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

    <script type="text/javascript">
      window.cloudinary_options = {
        cloud_name: '<%= ENV['CLOUD_NAME'] %>',
        UPLOAD_PRESET: '<%= ENV['UPLOAD_PRESET'] %>',
      };
    </script>
  </head>

    <%= yield %>
</html>
